<style>
    #assetClassListing, #inputAssetClass {
        background-color: lightgoldenrodyellow;
    }
   .panel .panel-default {  /* adjust height as new fileds are added.*/
        height: 375px;
    }
    #btnSave {
        margin-right: 8px;
    }
    #notation {
        padding-left: 50px;
    }
   #panelSection {
        margin-top: 70px;
    }
    #btnsDiv {
        margin-left: 69px;
        margin-top: 93px;
    }
    #assetClassListing {
        margin: 0 0 0 68px;
        width: 327px;
        height: 82px;
    }
    #btnReload {
        margin-right: 15px;
        width: 80px;
        margin-left: 5px;
    }
    #btnContact {
        width: 149px;
        padding-right: 40px;
    }
    #divClassListing {
        margin-bottom: -60px;
        background-color: #f5f5f5;
    }
    #divMain {
        width: 950px;
    }
  
  
</style>



<div class="col-md-12" data-ng-app="incomeMgmt" id="divMain"> 
    <section id="panelSection" class="panel panel-default">
        <div class="panel-heading"><strong>
           <span class="glyphicon glyphicon-th">&nbsp;</span>Current Asset Classes</strong>
        </div>

        <div class="panel-body">
            <form class="form-horizontal ng-valid" role="form">

                <div class="form-group">
                    <div id="notation" class="col-md-12 col-md-offset-0">
                        <!--location for messages here -->
                        <p></p>
                    </div>
                </div>
                

                <div class="form-group"> 
                    <div id="divClassListing" class="col-md-12">
                        <textarea class="col-md-offset-1" id="assetClassListing" rows="4" cols="40" readonly autofocus></textarea>
                    </div>
                    

                    <div data-ng-show="false">
                        <label class="col-md-2 col-md-offset-3 control-label" id="lblAcctType">Create new asset class:</label>
                        <div class="col-md-3">
                            <input class="form-control" id="inputAssetClass" data-ng-model="vm.newAssetClass">
                        </div>
                    </div>
                 
                </div>
                

               <div class="form-group">
                   <div class="col-md-12 col-md-offset-1" id="btnsDiv">
                       <span>
                            <button id="btnReload" class="btn btn-w-md btn-gap-v btn-info col-md-4" type="button" data-ng-click="vm.reload()">
                                Refresh
                            </button>
                        </span>
                       <span>
                           <!-- ** Deferred implementation - email request to be sent to admin for asset class addition-->
                           <button id="btnContact" data-ng-disabled="true" class="btn btn-w-md btn-gap-v btn-info col-md-1" type="button" data-ng-click="">
                               New - send request
                           </button>
                       </span>
                       <!--<span> ** Deferred implementation - enable for admin **
                           <button id="btnSave" data-ng-disabled="! vm.isMinimumIncomeData()" class="btn btn-w-md btn-gap-v btn-info col-md-1" type="button" style="width: 70px; padding-right: 40px;" data-ng-click="vm.saveIncome()">
                               Save
                           </button>
                       </span>-->
                   </div>
               </div>

            </form>  

        </div>

    </section>
</div>





