.mainGrid {
    width: 1065px;
    height: 350px;
    margin-left: 7px;
}
.myGridHeaders {
    background-color: lightgoldenrodyellow !important;
    color: chocolate;
    text-align: center;
}
.ui-grid-menu-button {
  height: 31px;
}
